@CHARSET "UTF-8";
*{
	margin:0;
	padding:0;
	font-family: arial,sans-serif;
}
body{
	background-color:#9D8AFB;
	margin:5px;
}
li{
	text-decoration:none;
	list-style: none;
}
a{
	text-decoration: none;
	color:#8AFBFA;
}
input{
	border-width:0px;
}
input:focus{
	outline:0;
	padding-left:5px;
}
img.top {vertical-align:text-top;}
img.bottom {vertical-align:text-bottom;}
img.middle {vertical-align:middle;}

div.main-container{
	background-color:#5882FA;
	min-height:400px;
	margin:10px 20px;
}
form.registerForm,
form.loginForm,
form.registerSuccesfulForm{
	margin:0 auto;
	display:block;
	width:650px;
}
form.registerForm label
{
	display:inline-block;
	vertical-align:middle;
	width:300px;
	font-size:1.2em;
	color:#E0E6F8;
	text-align:right
}
form.registerForm input,
form.registerSuccesfulForm input{
	width:300px;
	font-size:1.2em;
	border-radius:3px;
	background-color:#E0E6F8
}
form.registerSuccesfulForm input{
	display:inline-block;
	margin-left:160px;
}
form.registerSuccesfulForm p{
	color:#E0E6F8;
}
form.loginForm label
{
	display:inline-block;
	vertical-align:middle;
	width:180px;
	font-size:1.2em;
	color:#E0E6F8;
	text-align:right
}
form.loginForm a{
	display:inline-block;
	vertical-align:middle;
	width:180px;
	font-size:0.8em;
	color:#E0E6F8;
}
form.loginForm input{
	width:200px;
	font-size:1.2em;
	border-radius:3px;
}
form.loginForm span,
form.registerForm span{
	font-size:1.5em;
	color:#E0E6F8
}
p.ui-error-validation{
	background-color:#FE2E2E;
	color:#F8E0E0;
	border-radius:4px;
}
.ui-color-standard{
	color:#F8E0E0;
}

header{
	height:50px;
}
header section{
	height:100%;
}
.columnmode{
	display:inline-block;
}
.sec-logo{
	margin-left:25px;
	width:400px;
}
.sec-user-info{
	width:500px;
}
.sec-search{

}

.sec-search input{
	height:30px;
	width:300px;
	border-radius:3px;
	padding-left:5px;
	color:gray;
	font-size:1.2em;
}

.sec-search img{
	width:24px;
	height:24px;
}
